<h1>
    Welcome back, {{ backends.associated.0 }}!
</h1>

{% if telegram_user %}
    <div>
        Looks like you've connected the following Telegram account:
        {{ telegram_user.telegram_info.first_name }} {{ telegram_user.telegram_info.last_name }} {{ telegram_user.telegram_info.username }}
    </div>

    <br/>

    <div>If you'd like to connect a different Telegram account, click <a href="{% url 'telegram_unlink' %}">here</a> to unlink.</div>

    <br/>

    <div>Go message DiscordStickerBot to import your stickers!</div>
{% else %}
    <div>
        Want to link to Telegram?

        <script async
            src="https://telegram.org/js/telegram-widget.js?11"
            data-telegram-login="DiscordStickerBot"
            data-size="large"
            data-auth-url="{% url 'telegram_redirect' %}">
        </script>
    </div>
{% endif %}

<br/>

<div>
    <a href="{% url 'discord_logout' %}">Logout</a>
</div>

<hr/>

<h1>Sticker Sets!</h1>

<ul>
    {% for sticker_set in sticker_sets %}
        <li>
            {% if sticker_set.thumbnail %}
                <img src="{{ sticker_set.thumbnail.url }}" width="100"/>
            {% elif sticker_set.stickers.all.0.thumbnail %}
                <img src="{{ sticker_set.stickers.all.0.thumbnail.url }}" width="100"/>
            {% else %}
                <img src="{{ sticker_set.stickers.all.0.sticker.url }}" width="100"/>
            {% endif %}
            <br/>
            {{ sticker_set.title }}
        </li>
    {% endfor %}
</ul>
