<h1>
    Pick a sticker!
</h1>

<ul>
    {% for sticker in stickers %}
        <li>
            <a href="{% url "sticker" slug sticker_set sticker.id %}">
                {% if sticker.thumbnail %}
                    <img src="{{ sticker.thumbnail.url }}" width="100"/>
                {% else %}
                    <img src="{{ sticker.url }}" width="100"/>
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
