<h1>
    Pick a sticker set!
</h1>

{% if not sticker_sets %}
    <div>Oops! You don't have any yet :(</div>
{% endif %}

<ul>
    {% for sticker_set in sticker_sets %}
        <li>
            <a href="{% url "stickers" slug sticker_set.id %}">
                {% if sticker_set.thumbnail %}
                    <img src="{{ sticker_set.thumbnail.url }}" width="100"/>
                {% elif sticker_set.stickers.all.0.thumbnail %}
                    <img src="{{ sticker_set.stickers.all.0.thumbnail.url }}" width="100"/>
                {% else %}
                    <img src="{{ sticker_set.stickers.all.0.sticker.url }}" width="100"/>
                {% endif %}
                <br/>
                {{ sticker_set.title }}
            </a>
        </li>
    {% endfor %}
</ul>
